@mixin headerWrap{
    width: 80%;
    margin: auto;
}
@mixin underline-format{
    content: "";
    background-color: map-get($color, "underline");
    position: absolute;
    z-index: -1;
    height: 10px;
}
@mixin size-button{
    width: 100px;
    height: 40px;
}

body{
    margin: 0;
    padding: 0;
    background: map-get($color, "color-bg-body" );
}
.header{
    background: $bg-image;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 700px;
    background-position: top;
    border-bottom-right-radius: 50%;
}
.header-wrap{
    @include headerWrap();
   .landing-logo{
       display: flex;
       align-items: center;
       padding-top: 20px;
       position: relative;
       p{
           display: flex;
           flex-direction: column;
           margin: 15px;
           text-transform: uppercase;
           font-weight: bold;
           font-size: 25px;
           font-family: map-get($font, "fonts");
           color: map-get($color, "color");
           span{
               text-transform: lowercase;
               font-size: 10px;
               font-weight: normal;
               text-align: center;
           }
       }
   }
   .header_button{
    @include size-button;
    font-family: map-get($font, "fonts");
    background-color: map-get($color, "color-bg-button" );
    position: absolute;
    display: block;
    color: map-get($color, "color-text-button" );
    
}
}
.header_heading{
    width:400px;
    font-size: 3rem;
    font-family: map-get($font, "fonts");
    font-weight: bold;
    color: map-get($color, "color");
    position: relative;
    z-index: 1;
}
.header_heading::before{
    @include underline-format();
    width: 200px;
    top: 100px;
    
}
.header_text{
    width: 70%;
    font-family: map-get($font, "fonts-second" );
    color: map-get($color, "color");
    white-space: pre-line;
}


main.section{
    .section_text{
    text-align: center;
    font-family: map-get($font, "fonts-second");
    color: map-get($color, "color");
    font-weight: bold;
    position: relative;
    z-index: 1;
    width: 200px;
    margin: 0 auto; 
    }
    .section_text::before{
        @include underline-format();
        z-index: -1;
        width: 77px;
        top: 11px;
        left: 105px;
        position: absolute;
        
    }
    .section_card_wrap{
        display: flex;
    justify-content: space-around;
    width: 900px;
    margin-left: 80px;
    .section_card{
        padding-top: 20px;
        width: 250px;
        text-align: center;
        background: map-get($color, "color-bg-card");
        border-radius: 10px;
        height: 300px;
        img{
            border-radius: 5px;
            border: 1px solid map-get($color, "color-bg-card");
        }
        .section_card_text{
            font-size: 10px;
            font-family: map-get($font, "fonts");
            color: map-get($color, "color-text-card");
            padding: 10px;
        }
        .section_card_heading{
            color: map-get($color, "color-text-card");
            z-index: 1;
            position: relative;
        }
        .section_card_heading::before{
            @include underline-format();
            z-index: -1;
            width: 30px;
            position: absolute;
            top: 8px;
            width: 110px;
        }
    }
    }
    
}
.section_banner{
    width: 620px;
    height: 70px;
    background: red;
    position: relative;
    margin-left: 200px;
    color: map-get($color, "color" );
    border-radius: 5px;
    .section_banner_button{
        @extend .header_button;
    }
    background: map-get($color, "color-grad");
}
.section_banner_button{
    float: right;
    margin-top: -50px;
    margin-right: 40px;
    background-color: map-get($color, "color-bg-button");
    width: 100px;
    height: 40px;
    color: map-get($color, "color-text-button" );
}
.section_banner_heading{
    font-style: map-get($font, "fonts");
    font-size: 20px;
    margin-right: 30px;
    width: 50%;
    position: relative;
    z-index: 1;
    color: map-get($color, "color" );
}.section_banner_heading::before{
    @include underline-format();
    position: absolute;
    width: 40px;
    z-index: -1;
    top: 11px;
    left: 75px;
}
.footer {
    padding: 135px 0 45px 0;
    background-color: map-get($color, "color-bg-footer" );
    position: relative;
    z-index: -1;
    margin-top: -30px;
    height: 150px;
  }
  
  .footer-wrap {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
  }
  
  .footer_logo {
    color: map-get($color, "color" );
  }
  
  .footer_text {
    @extend .footer_logo;
    width: 25%;
    font-size: 17px;
    letter-spacing: .013em;
    line-height: 1.5;
    margin-right: 5px;
    
  }
  .footer-cr{
    color: map-get($color, "color" );
  }